openapi: '3.0.3'
info:
  title: apilab api spec
  version: '1.0'
  description: 'This is the API specification for apilab service.'
  contact:
    name: 'API Support'
    url: 'http://www.apilab.com/support'
    email: 'support@apilab.com'
servers:
  - url: https://api.server.develop/v1
    description: Develop environment
  - url: https://api.server.staging/v1
    description: Staging environment
  - url: https://api.server/v1
    description: Production environment
tags:
  - name: Elements
    description: Operations related to elements
paths:
  /elements:
    get:
      summary: Get all elements
      description: Retrieve a list of all elements
      operationId: getAllElements
      tags:
        - Elements
      security:
        - bearerAuth: []        
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Element'
              example:
                - uuid: "123e4567-e89b-12d3-a456-426614174000"
                  name: "Name Element 1"
                  type: "Type Element 1"
                  description: "Description Element 1"
                - uuid: "123e4567-e89b-12d3-a456-426614174001"
                  name: "Name Element 2"
                  type: "Type Element 2"
                  description: "Description Element 2"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'         
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a new element
      description: Create a new element in the system
      operationId: createElement
      tags:
        - Elements
      security:
        - bearerAuth: []        
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Element'
            example:
                uuid: "123e4567-e89b-12d3-a456-426614174000"
                name: "Name Element"
                type: "Type Element"
                description: "Description element"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Element'
              example:
                uuid: "123e4567-e89b-12d3-a456-426614174000"
                name: "Name Element"
                type: "Type Element"
                description: "Description element"        
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'         
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /elements/{elementId}:
    get:
      summary: Get a element by ID
      description: Retrieve a element by their ID
      operationId: getElementById
      tags:
        - Elements
      security:
        - bearerAuth: []
      parameters:
        - name: elementId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Element'
              example:
                uuid: "123e4567-e89b-12d3-a456-426614174000"
                name: "Name Element"
                type: "Type Element"
                description: "Description element"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'         
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update a element by ID
      description: Update an existing element by their ID
      operationId: updateElementById
      tags:
        - Elements
      security:
        - bearerAuth: []        
      parameters:
        - name: elementId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Element'
            example:
                uuid: "123e4567-e89b-12d3-a456-426614174000"
                name: "Name Element"
                type: "Type Element"
                description: "Description element"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Element'
              example:
                uuid: "123e4567-e89b-12d3-a456-426614174000"
                name: "Name Element"
                type: "Type Element"
                description: "Description element" 
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'         
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a element by ID
      description: Delete a element by their ID
      operationId: deleteElementById
      tags:
        - Elements
      security:
        - bearerAuth: []
      parameters:
        - name: elementId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'         
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
security:
  - bearerAuth: []
components:
  schemas:
    Element:
      type: object
      properties:
        uuid:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        data:
          type: object
          properties:
            key:
              type: string
            value:
              type: string
      required:
        - uuid
        - name
        - type
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
  responses:
      BadRequest:
        description: 400 Bad Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      Unauthorized:
        description: 401 Unauthorized
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      Forbidden:
        description: 403 Forbidden
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      NotFound:
        description: 404 Not Found
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      TooManyRequests:
        description: 429 Too Many Requests
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      InternalServerError:
        description: 500 Internal Server Error
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT